@charset "UTF-8";

@font-face{
    font-family: "04b";
    src: url(fontes/04B_30__.TTF) format('truetype');
}

@font-face {
    font-family: "neuropol";
    src: url(fontes/neuropol.otf) format('opentype');
}

:root{
    --fundo: #090F26;
    --fundo2: #111e50;
    --fundoBox: #ffffff50;
    --fundoPromo: #ffffff25;
    --fundorodape: #252941;
    --fonte: #ffffff;
    --fonte2: #000000;
    --tom1: #101F38;
    --tom2: #20385E;
    --sombra: #00000036;
    --sombra2: #ffffff67;
    --fundoinput: #a3a3a315;
    --bordas: #101f3857;
    --bordasclaras: #ffffff57;
}

body{
    background-image: radial-gradient(circle at 16% 83%, rgba(148, 148, 148,0.06) 0%, rgba(148, 148, 148,0.06) 50%,rgba(63, 63, 63,0.06) 50%, rgba(63, 63, 63,0.06) 100%),radial-gradient(circle at 68% 87%, rgba(66, 66, 66,0.06) 0%, rgba(66, 66, 66,0.06) 50%,rgba(105, 105, 105,0.06) 50%, rgba(105, 105, 105,0.06) 100%),radial-gradient(circle at 38% 50%, rgba(123, 123, 123,0.06) 0%, rgba(123, 123, 123,0.06) 50%,rgba(172, 172, 172,0.06) 50%, rgba(172, 172, 172,0.06) 100%),linear-gradient(90deg, rgb(9,15,38),rgb(9,15,38));
    background-repeat: no-repeat;
    margin: 0; padding: 0;
    color: var(--fonte);
    min-height: 100vh;
}


#cabecalho{
    display: flex;
    justify-content: space-between;

    width: 100%; height: 100%;
    margin: 0; padding: 10px 0px;
}

#logo{
    display: flex;
    margin-left: 30px; 
}

#cont_img_logo{
    margin-top: 5px;
    width: 150px; height: min-content;;
}

#imagemlogo{
    width: 100%;
}


#bar{
    display: flex;
    margin: auto 15px;
    
}

#bar > a, div > a{
    text-align: center;
    text-decoration: none;
    text-transform: uppercase;
    margin: auto 15px;
    font-weight: bold;
    font-size: 1vw;
    font-family: 'neuropol';
    color: var(--fonte);
}

#foto_perfil{
    display: flex;
}

#foto_perfil > span{
    margin: auto 15px auto 0px;
}

#foto_perfil > img{
    width: 40px;
    border-radius: 20%;
}

/*SESSÃO PROMOCIONAL*/


#promocao{
    display: flex;
    margin: 0px 20px; padding: 10px;
    background-color: var(--fundoPromo);
    border-radius: 5px;
    font-size: 15px;
    justify-content: space-between;
}

#titulo_promo{
    display: inline;
    font-size: 1.5vw;
    margin: 0px 5px; padding: 5px;
}

#fechar_prom{
    filter: invert();
}

#cronometro{
    width: min-content;
}
/* CORPO */

#cursos{
    display: grid;
    grid-template-columns: auto auto auto;
    text-align: center;
}

.caixa_cursos{
    background-color: var(--fundo2);
    margin: 20px; padding: 20px;
    display: grid;
    grid-template-rows: 2;
    gap: 2px;
    border: 1px solid var(--bordasclaras);
    border-radius: 10px;
}

.video{
    width: max-content;
    margin: auto;
    border-radius: 10px;
}

iframe{
    border: 1px solid var(--bordasclaras);
    border-radius: 15px;
}


/* Informativos */


footer{
    position: sticky;
    top: 100%;
    padding: 10px;
    text-align: center;
    background-color: var(--fundorodape);
}

footer > p{
    font-weight: bold;
    font-size: 17px;
}

/* Tela com até 1024px NOTEBOOK*/

@media (max-width: 1024px){ 

    /*Cabecalho*/
    
    #cont_img_logo{/* Caixa para img da logo */
        width: 130px; /*Comprimento*/
        transition: 0.5s;
    }
    
    #caixa_logo_pesquisa{
        height: 25px;
    }

    /*CORPO*/
  

    /*Informativos*/
    
    
}

/* Tela com até 768px Tablet*/

@media (max-width: 768px){


    /*Promoçao*/
   

   /*Informativos*/
   
}



/* Tela com até 425px Celular*/

@media (max-width: 425px){
    #cabecalho{ /*Header*/
        display: grid;
        padding: 0; margin: 0;
        width: 100%;
    }
    
    #logo{ /*Conteiner para logo*/
        margin: 10px 0px; padding: 0;
        width: 100vw;
        justify-content: center;
        background-color: var(--azul1);
    }
    
    #cont_img_logo{ /*Conteiner para imagem da Logo*/
        width: 130px; height: auto;
    }
    
    #imagemlogo{ /*Imagem da logo*/
        padding: auto;
        justify-content: center;
        border-radius: 10px;
        border: none;
        width: 100%;
        background-image: none;
    }
    
    

    #bar{ /*Conteiner para Links direcionais*/
        display: flex;
        justify-content: space-between;
        max-width: 425px;
        min-width: 320px;
        margin: 0px;
        width: 100vw;
    }
    
    #bar > a{ /*Links direcionais*/
        font-size: 8px;
        padding: 10px;
    }
    
    /*Corpo*/
    
    /* Promoção */
    
   
    /* Apresentacao */
    
    
    /* Informativos */
    
    

}

/* Tela com até 375px Celular*/

@media (max-width: 375px){
    #bar{ /*Conteiner para Links direcionais*/
        max-width: 375px;
        justify-content: space-between;
    }
    #bar > a{
        margin: 0;
    }
}
