@charset 'UTF-8';

:root{
    --fundo: #090F26;

    --fundo3: #111e50;
    --fonte: #ffffff;
    --fonte2: #000000;
    --tom1: #101F38;
    --tom2: #20385E;
    --sombra: #00000036;
    --sombra2: #ffffff31;
    --fundoinput: #a3a3a315;
    --bordas: #101f3857;
}

body{
    background-image: linear-gradient(to bottom, var(--fundo), var(--fundo3), var(--fundo));
    padding: 10px; margin: 0;
    min-height: 100vh;
}
 /*Cabeçalho*/
header{
    text-align: center;
    margin: 0; padding: 0;
}

#logo{
    padding: 20px; margin: auto;
    max-width: 500px;
}

#logo > a > img{
    width: 100%;
}

