@charset 'UTF-8';

*{
    font-family: Arial, Helvetica, sans-serif;
}

body{
    margin: 0; padding: 0;
    background-image: var(--fundo);
    background-repeat: no-repeat;
}

:root{
    --fundo: radial-gradient(circle at 16% 83%, rgba(148, 148, 148,0.06) 0%, rgba(148, 148, 148,0.06) 50%,rgba(63, 63, 63,0.06) 50%, rgba(63, 63, 63,0.06) 100%),radial-gradient(circle at 68% 87%, rgba(66, 66, 66,0.06) 0%, rgba(66, 66, 66,0.06) 50%,rgba(105, 105, 105,0.06) 50%, rgba(105, 105, 105,0.06) 100%),radial-gradient(circle at 38% 50%, rgba(123, 123, 123,0.06) 0%, rgba(123, 123, 123,0.06) 50%,rgba(172, 172, 172,0.06) 50%, rgba(172, 172, 172,0.06) 100%),linear-gradient(90deg, rgb(9,15,38),rgb(9,15,38));
    --fontebranca: #ffffff;
}

/* Estlização do cabecalho e logo */
#cabecalho{
    padding: 10px;
    display: flex;
    justify-content: space-around;
}

#cabecalho-logo{
    width: 150px;
    margin: auto 0;
}

#imagem-logo{
    width: 100%;
}

#cabecalho-apresentacao{
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    color: var(--fontebranca);
}