@charset "UTF-8";
@font-face{
    font-family: "04b";
    src: url(fontes/04B_30__.TTF) format('truetype');
}
@font-face {
    font-family: "neuropol";
    src: url(fontes/neuropol.otf) format('opentype');

}

body{
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
    
}

#cabecalho{
    display: flex;
    position: fixed;
    top: 0;
    background-color: #0c0f2057;
    border-style: hidden;
    border-color: #0f13299c;
    backdrop-filter: blur(3px);
    width: 100%;
    height: 7%;
    padding: 0;
}

#nav{
    width: 100%;
    height: 100%;
    height: min-content;

}

#logo{
    text-decoration: none;
    font-family: 'neuropol';
    color: white;
}

.link_cabecalho{
    text-decoration: none;
    font-family: 'neuropol';
    color: white;
    padding: 15px;
}

#cabecalho_direita{
    display: flex;
    float: right;
    font-size: 13px;
    border-style: hidden;
    border-width: 1px;
}

#cabecalho_direita a:hover{
    background-color: #1c2241;
}

#botao_login{
    background-color: #484E6B;
    border-radius: 4px;
}

main{
    width: 100%;
    margin: 0%;
    background-color: #1c2241;
}

main > img {
    top: 100%;
    width: 100%;
    height: 100%;
}

#apresentacao_inicial{
   
}


